.fondo{
    border-radius: 3rem;
    margin: 5% 5%;
    height: 30rem;
    background-color: rgb(209, 218, 215);
}
.bienvenido{
    color: red;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.bienvenido>h1{
    margin-top: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
    margin-left: 45%;
    width: 250px;
    height: 250px;
}
.myButton{
    margin-top: 3rem;
    font-size: 20px;
    height: 4rem;
    width: 15rem;
    border-color: transparent;
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
    margin-left: 42%;
}
.myButton:hover{
    background-color: rgb(237, 171, 16);
}