.expenses {
  padding: 1rem;
  background-color: rgb(232, 232, 232);
  margin: 2rem auto;
  width: 70rem;
  max-width: 95%;
  border-radius: 12px;
  
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
 .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  }
  .menu{
    
    font-family: sans-serif;
    font-size: 14px;
  }
  .menu-group-heading{
    margin:0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  .menu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  .menu-item{
    display: flex;
    margin-top: 1.5em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 28rem;
    height: 9.5rem;
    background-color: white;
    word-wrap: break-word; 
    }
  .menu-item-body{
    width: 65%;
  }
  .menu-item-image{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    object-fit: cover;
    margin:1em 1em ;
    padding: 5px 5px ;
    position: relative;

  }
  .menu-item-body-text{
    margin: 1rem 0rem 1rem 0rem;
    height: 6.5rem;

  }
  .menu-item-heading{
    display: flex;
    justify-content: space-between;
  }
  .menu-item-name{
    font-size: 26px;
    margin-right: 1.5em;
  }
  .menu-item-description{
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    width: 85%;
    height: 25%;

  }
  .menu-item-price{
    font-size: 22px;
    padding-right: 3rem;
    
  }
  .menu-item-button{
    
    width: 7rem;
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
    background-color: rgb(247, 99, 46);
    border-color: orangered;
    font-size: 18px;
    border-radius: 1.0rem ;

  }
 
  .menu-item-body-controls{
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .menu-item-body-input{
    width: 3rem;
   }



  @media screen and (min-width:992px){
    .menu{
      font-size: 16px;
    }
    .menu-group{
      grid-template-columns: repeat(2,1fr);
    }
  }